{% extends "homepage.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}<title>Store</title>{% endblock %}</head>
<body>
{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



                <div class="table_content">
                    <table cellpadding="0" cellspacing="30" border="0">
                        <thead>
                            <tr>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Publisher</th>

                            </tr>
                        </thead>
                        <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.Name }}</td>
                        <td>{{ i.Platform }}</td>
                        <td>{{ i.Year }}</td>
                        <td>{{ i.Genre }}</td>
                        <td>{{ i.Publisher }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>



                    </div>



        {% endblock %}
</body>
</html>