{% extends "homepage.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}<title>Graph</title>{% endblock %}</head>
<body>
{% block content %}
<div class="orta">
     <p><a href="/graph1/"style="text-decoration: none;" >Total Global Sales for Each Platform</a></p>
    <p><a href="/graph2/"style="text-decoration: none;" >Total Global Sales for Each Year</a></p>
<p><a href="/graph3/"style="text-decoration: none;" >Total Global Sales for Each Genre</a></p>
        </div>

        {% endblock %}
</body>
</html>