{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}<title>Homepage</title>{% endblock %}
<meta charset="UTF-8">
<meta name="author" content= "Team Zero">
<meta name="keywords" content="games,store">
<meta name="description" content="Let the journey begin!">
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css'  %}">
</head>
<style>
body {
    background-color: #9966ff;
}
</style>
<body>
    <header><div class="container">
        <div class="search">
       <form method='GET' action=".">
        <input class="search1" type="text" name="q" placeholder="Search for a game">
            <input type="submit"  value="{{ query|escape }}"/>
            </form>
                </div>
        </header>

    <div class="position1">
     <h1>  <ul class="navigation">
    <li><a href="/homepage"style="text-decoration: none;" >Homepage</a></li>
    <li><a href="/all_games"style="text-decoration: none;">Store</a></li>
    <li><a href="/graph"style="text-decoration: none;">Login/Register</a></li>
    <li><a href="/about_us"style="text-decoration: none;">About Us</a></li>
    <li><a href="/contact"style="text-decoration: none;">Contact Us</a></li>
        </ul></h1>
           </div>
    {% block content %}
<div class="orta">
        <p>WELCOME</p>
        </div>

        {% endblock %}
<footer>
        </footer>


</body>
</html>