{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}<title>Homepage</title>{% endblock %}
<meta charset="UTF-8">
<meta name="author" content "Team Zero">
<meta name="keywords" content="games,store">
<meta name="description" content="Let the journey begin!">
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css'  %}">

    </head>
    <style>
body {
  background-color: #1c86ee;
}
</style>
</head>
<body>
    <header><div class="container">
        <div class="logo">
        <div class="search">
        <input class="search1" placeholder="Search for a game">
            </div>
        </div></header>

    <div class="position1">
     <h1>  <ul class="navigation">
    <li><a href="/homepage" >Homepage</a></li>
    <li><a href="/all_games">Store</a></li>
    <li><a href="/account">Login/Register</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
        </ul></h1>
           </div>
    {% block content %}
<div class="orta">
        <p>WELCOME</p>
        </div>

        {% endblock %}
<footer>
        </footer>


</body>
</html>