{% extends "homepage.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %} <title>Title</title>{% endblock %}
</head>
<body>
{% block content %}
{% if query %}
    {% if results %}
    <ul>
    {% for item in results %}
        <li>{{ item|escape }}</li>
    {% endfor %}
    </ul>
    {% else %}
       <p>Query returned no results.</p>
       #SO is formatting "Query" in HTML for some reason. Nonetheless...
    {% endif %}
{% endif %}
{% endblock %}
</body>
</html>